/*

!/.gitignore
!README.md
!/.bashrc
!/.zshrc

!/.config
.config/*
!.config/lvim/
!.config/fish/
!.config/nvim/

!/.config/Code
.config/Code/*
!/.config/Code/User/
.config/Code/User/*
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json
!/.config/Code/User/snippets/

.Rproj.user
